# Maven Build Artifacts
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextVal
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Log Files
*.log
app.log
run.log
run_clean.log
run_clean_2.log
run_error.log
run_verify_role.log
run_verify_role_2.log

# OS Metadata
.DS_Store
Thumbs.db

# IDE Files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
